/*@import url(general.css);*/
@import url(gestio.css);

#paginat {
	text-align: center;
}

#paginat input {
	width: 2em;
	text-align: center;
}

#paginat a {
	background: #eee;
	border: 1px solid #eee;
	border-color: #fff #ccc #ccc #fff;
	color: #333;
	text-decoration: none;
	padding: 0.3em 0.5em;
}

/* Estilos responsivos para select.nombreDivisionResidencia */
select.nombreDivisionResidencia {
	width: 100%;
	max-width: 25em;
	box-sizing: border-box;
}
select.spdCn {
	width: 50%;
	max-width: 1em;
	box-sizing: border-box;
}


/* Estilos responsivos para input.nombreConsejo */
input.nombreConsejo {
	width: 100%;
	max-width: 50em;
	box-sizing: border-box;
}

/* Estilos responsivos para select.nombreCortoOK */
select.nombreCortoOK {
	width: 100%;
	max-width: 50em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.nombreCortoOK */
input.nombreCortoOK {
	width: 100%;
	max-width: 25em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.cn_resi */
input.cn_resi {
	width: 100%;
	max-width: 5em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.cn7_ok */
input.cn7_ok {
	width: 100%;
	max-width: 5em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.medicamentoResi */
input.medicamentoResi {
	width: 100%;
	max-width: 50em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.comentario */
input.comentario {
	height: 100%;
	width: 100%;
	max-width: 50em;
	min-width: 5em;
	max-height: 18em;
	box-sizing: border-box;
}

/* Estilos responsivos para input.resiToma */
input.resiToma {
	width: 100%;
	max-width: 3em;
	box-sizing: border-box;
	text-align: center;
}

input.resiSiPrecisa {
	width: 100%;
	max-width: 3em;
	box-sizing: border-box;
    vertical-align: middle;
	text-align: center; /* Centra horizontalmente los elementos */
  	display: flex;
  	align-items: center; /* Centra verticalmente los elementos */

}
input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 1px 1px 1px 1px;
    padding: initial;
    border: initial;
    vertical-align: middle;
	text-align: center; /* Centra horizontalmente los elementos */
  	display: flex;
  	align-items: center; /* Centra verticalmente los elementos */
}

.botons {
  position: relative; /* Asegura que el contenido dentro de .botons esté contenido dentro del espacio del botón */
  background-color: white;
}


.botons {
  position: relative;
 background-color: white;
}

.boton-borrar {
  padding-left: 1.2em;
  background-color: transparent;
  background-image: url(../../spd/img/borra.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.boton-editar {
  padding-left: 1.2em;
  background-color: transparent;
  background-image: url(../../spd/img/edita.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.boton-actualizar {
  padding-left: 1.2em;
  background-color: transparent;
  background-image: url(../../spd/img/actualiza.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.boton-subir {
  padding-left: 1.2em;
  background-color: transparent;
  background-image: url(../../spd/img/asc.gif);
  background-repeat: no-repeat;
  background-position: left center;
}
.boton-bajar {
  padding-left: 1.2em;
  background-color: transparent;
  background-image: url(../../spd/img/desc.gif);
  background-repeat: no-repeat;
  background-position: left center;
}

/* styles.css */
.boton-up,
.boton-down {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el botón */
    text-indent: -9999px; /* Oculta cualquier texto del enlace */
}

.boton-up {
    background-image: url(../../spd/img/up.png); /* URL de la imagen para el botón "arriba" */
}

.boton-down {
    background-image: url(../../spd/img/down.png); /* URL de la imagen para el botón "abajo" */
}

/* Estilos para los enlaces */
.enlaceTabla {
	width: 80%;	
}

.enlaceRow {
	background-color: #d1eaf3; /*#2dff96;*/
	font: bold 1.1em Arial, sans-serif;
	padding: 0.2em 0.4em;
	color: #000;
	text-align: left;
	border: 0.1em solid #000000;
	border-width: 0 0.1em 0.1em 0;
}

.enlaceId {
	
	background-color: #9bd1e6;
	padding: 1em;
	text-align: center;
	margin: 0 0 1em 0;
	width: 5%;	
	border: 0.1em solid #000000;
	border-width: 0 0.1em 0.1em 0;
}

.enlaceNombre {
	text-align: left;
	width: 40%;	
	border: 0.1em solid #000000;
	border-width: 0 0.1em 0.1em 0;
	
}
.enlaceDescripcion {
	text-align: left;
	width: 40%;	
}

.pautasDia {
    width: 2em; /* Cambia el valor según tus necesidades */
}
    /* Estilos para los iconos de acción */
.action-icon {
    font-size: 1.5em;
    font-weight: 100; /* Hace que la fuente sea más fina */
    color: #400040; /* Color del ícono */
	cursor: pointer;
}

.selected {
            background-color: #ADD8E6;
}
        
select.select_5 		
 {		
	width: 5em;	
}		
select.select_7 		
 {		
	width: 7em;	
}		
		
		
select.select_10 		
{		
	width: 10em;	
}		

.columna-ancho-alto {
    width: 5em; /* Puedes ajustar el ancho según tus necesidades */
    height: 3em; /* Puedes ajustar la altura según tus necesidades */
}


th.columna-ancho {
    width: 3em; /* Establece el ancho deseado para la columna */
    padding: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    overflow: hidden;
    	max-width: 3em;
}
	
	/* Estilo compartido para los botones */
.botons input[type="button"] {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9em;
    margin: 0.2em 0.2em;
    cursor: pointer;
    border-radius: 0.2em;
    border-color: black;
}


.botons .verde {
    background-color: #4CAF50;
    color: black;
}
.botons .rojo {
    background-color: #f44336;
    color: black;
}
.botons .azul {
    background-color: #0080ff;
    color: black;
}
.botons .azulCielo {
    background-color: #8defed;
}
.botons .marron {
    background-color: #800000;
    color: white;
}	

.botons .negro {
    background-color: #000000;
    color: white;
}		       


.botons button:disabled,
.botons input[type="button"]:disabled {
    background-color: grey; /* Color de fondo para botones desactivados */
    color: lightgrey; /* Color del texto para botones desactivados */
    cursor: not-allowed; /* Cursor para indicar que el botón está deshabilitado */
    border: 1px solid grey; /* Opcional: añade un borde gris para botones desactivados */
}

select.ancho_5 
{
	width: 5em;
}

select.ancho_7 
{
	width: 7em;
}

select.ancho_10
{
	width: 10em;
}

select.ancho_17 
{
	width: 17em;*/
}
select.ancho_23
{
	width: 23em;*/
}



/* Media query para pantallas más pequeñas (móviles) */
@media screen and (max-width: 768px) {
    th, td {
        padding: 0,5em;
    }
}

    /* Estilo para divs con id específicos */
    div[id="menu"]{
      width: 50%; /* Anchura del div al 70% del ancho de la ventana */
      border: 0.3em solid #0077cc; /* Borde para los divs específicos */
      border-radius: 1em; /* Bordes redondeados para los divs específicos */
      padding: 1em; /* Relleno para los divs específicos */
      margin: 0.6em auto; /* Margen para separar y centrar los divs específicos horizontalmente */
    }

    /* Estilo para el texto del título */
      div[id="menu"] .titulo {
      font-size: 1.3em; /* Tamaño de fuente para el título */
      font-weight: bold; /* Texto en negrita para el título */
      color: #0077cc; /* Color del texto para el título */
      margin-bottom: 0.5em; /* Margen inferior para separar el título del contenido */
    }

    /* Estilo para los elementos de la lista (li) */
    li {
      margin-bottom: 0.6em; /* Margen entre elementos de la lista */
    }

 /* Estilo para las alertas */

 .blanco {
    background-color: white;
    color: black;
}
 .verde {
    background-color: #2ed32e;
    color: white;
}
 .verdeClaro {
    background-color: #00ff00;
    color: black;
}
 .naranja {
    background-color: orange;
    color: black;
}
 .rojo {
    background-color: red;
    color: black;
}
.amarillo {
    background-color: yellow;
    color: black;
}
.amarilloClaro {
    background-color: #fdfb97;
    color: black;
}
.azul {
    background-color: #0080ff;
     color: black;
}
.azulClaro {
    background-color: #61ceda;
     color: black;
}

.alertaSustXResi td.verde,
.NO_PINTAR td.verde,
.PASTILLERO td.verde,
.SOLO_INFO td.verde,
.SI_PRECISA td.verde {
    background-color: #2ed32e;
    color: white;
}

.alertaSustXResi td.rojo,
.NO_PINTAR td.rojo,
.PASTILLERO td.rojo,
.SOLO_INFO td.rojo,
.SI_PRECISA td.rojo {
    background-color: red;
    color: white;
}
.alertaSustXResi td.blanco,
.NO_PINTAR td.blanco,
.PASTILLERO td.blanco,
.SOLO_INFO td.blanco,
.SI_PRECISA td.blanco {
    background-color: white;
    color: black;
}

.alertaSustXResi td.naranja,
.NO_PINTAR td.naranja,
.PASTILLERO td.naranja,
.SOLO_INFO td.naranja,
.SI_PRECISA td.naranja {
    background-color: orange;
    color: black;
}
  .alertaSustXResi td.gris,
.NO_PINTAR td.gris,
.PASTILLERO td.gris,
.SOLO_INFO td.gris,
.SI_PRECISA td.gris {
    background-color: grey;
    color: black;
}
  .alertaSustXResi td.gris_claro,
.NO_PINTAR td.gris_claro,
.PASTILLERO td.gris_claro,
.SOLO_INFO td.gris_claro,
.SI_PRECISA td.gris_claro {
    background-color: #EEE;
    color: black;
}
  .alertaSustXResi td.amarillo,
.NO_PINTAR td.amarillo,
.PASTILLERO td.amarillo,
.SOLO_INFO td.amarillo,
.SI_PRECISA td.amarillo {
    background-color: yellow;
    color: black;
}

  .alertaSustXResi td.azul,
.NO_PINTAR td.azul,
.PASTILLERO td.azul,
.SOLO_INFO td.azul,
.SI_PRECISA td.azul {
    background-color: #0080ff;
    color: white;
}

.alertaPrincipioActivo td.gris_claro, .NO_PINTAR td.gris_claro, .PASTILLERO td.gris_claro, .SOLO_INFO td.gris_claro, .SI_PRECISA td.gris_claro {
    background-color: #EEE;
    color: black;
}


 .arrow {
     font-size: 1.5em; /* Tamaño de la flecha */
     color: black; /* Color de la flecha */
     text-decoration: none; /* Eliminar subrayado de los enlaces */
     float: center;
     padding-right: 0.5em; /* Espacio entre el texto y la flecha */
 }
/*Tipos de aviso*/
 .ALERTA {
    background-color: yellow;
    text-align: left; 
    font-size: 20px; 
    color: red;
}
 .INCIDENCIA {
 	background-color: #EEE;
    text-align: left; 
    font-size: 20px; 
    color: red;
}
 .INFO {
    text-align: left; 
    font-size: 15px; 
    color: black;
}
tr.mutua_o_sin_tsi
{
	color: grey;
}
td.prio-alta  {
	background-color: #FFD700;
	color: black;
}
td.prio-media  {
	background-color: #93e085;
	color: black;
}
td.prio-baja  {
	background-color: #E6E6FA;
	color: black;
}
.opcion-alta {
  background-color: #FFD700; /* dorado */
  color: black;
}
.opcion-media {
  background-color: #93e085; /* verde claro */
  color: black;
}
.opcion-baja {
  background-color: #E6E6FA; /* lavanda */
  color: black;
}
tr.rd_cabecera th {
  background-color: #C9DAF8;
  color: black;
  border: 1px solid #000;
}

